.detail-user {
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    .avatar {
        width: 160px;
        height: 160px;
        border-radius: 100%;
    }
    .user-name {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 800;
    }
    .simple {
        color: #999;
        font-size: 18px;
        p{
            margin-bottom: 10px;
        }
        
    }
    .skill-item {
        color: #0fe19b;
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
        border: 1px solid #0fe19b;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        padding: 1px 9px 3px;
        line-height: 20px;
    }
    .contact {
        width: 450px;
        border: 0;
        padding: 10px 30px 40px 40px;
        background: #fff;
        box-shadow: 0 0 6px rgba(0,0,0,.2)!important;
        border-radius: 5px;
        .info-item {
            display: flex;
            gap: 20px;
            align-items: center;
            padding-bottom: 10px;
            p {
                margin: 0;
                line-height: 140%;
                font-size: 18px;
            }
        }
        .ant-btn {
            width: 100%;
            background-color: #fc0;
            font-size: 18px;
            font-weight: 800;
        }
        .direct {
            font-size: 18px;
            padding-top: 10px;
        }
    }
    .intro-item {
        font-size: 16px;
        margin-bottom: 40px;
        .title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        .list-service {
            color: #0fe19b;
            display: flex;
            align-items: center;
        }
    }
}

.update-form {
    width: 80%;
    .number {
        border: 1px solid;
        border-radius: 100%;
        width: 38px;
        height: 38px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #13a538;
        color: #fff;
        font-size: 18px;
        font-weight: 800;
    }
    .title {
        margin: 0;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 800;
    }
    .avatar {
        width: 160px;
        height: 160px;
        border-radius: 10%;
    }
    .ant-form-item {
        
        .ant-form-item-label {
            width: 20%;
            padding-right: 20px;
        }
        .ant-input, .ant-input-password {
            width: 60%;
            .ant-input {
                width: 100%;
            }
        }
        
        .ant-picker {
            width: 60%;
        }
        .ant-select {
            width: 60%;
        }
        
    }
    .confirm-post {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        width: 50%;
    }
    .form-confirm {
        background-color: #fff;
        
        .check {
            font-size: 20px;
            gap: 10px;
        }
        .explain-content {
            color: #999;
            font-weight: bold;
            font-size: 18px;
            list-style: circle inside !important;
            li {
                color: #000;
                font-weight: 400;
            }
        }
        .confirm-post {
        display: flex;
        justify-content: center;
        margin-top: 30px ;
        margin-bottom: 0;
        width: 100%;
    }
    
    }
    .upload-file {
        .ant-form-item-row {

            padding-left: 200px;
        }
    }
    .subtitle {
        padding-top: 0;
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 15px;
        color: #bbb;
        white-space: initial;
        padding-top: 5px;
        line-height: initial;
        padding-left: 200px;
    }

    .ant-image-img {
        width: 140px;
        height: 140px;
    }

    .actions {
        margin-top: 10px;
        display: flex;
        gap: 10px;
        .btn {
            cursor: pointer;
            padding: 6px 7px;
            line-height: 14px;
            background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
            border: 1px solid #ccc;
            border-bottom-color: #b3b3b3;
            border-radius: 4px;
        }
    }
}


.detail-profile-container {
    padding: 20px;
    display: flex;
    gap: 20px;
    .layered-navigation {
        box-shadow: 0 0 6px rgba(0,0,0,.2);
        border-radius: 5px;
        background: #fff !important;
        width: 360px;
        width: 30%;
        height: auto;
        .avatar {
            text-align: center;
            
            .ant-image {
                margin-top: 40px;
            margin-bottom: 25px;
            max-width: 100%;

                .ant-image-img {
                    border-radius: 50%;
                    width: 160px;
                    height: 160px;
                    margin: 0 auto;
                }
            }
        }
        .freelancer-name {
            text-align: center;
            color: #333;
            p {
                font-size: 20px;
                font-weight: 600;
                display: inline;
            }
        }
        .freelancer-title {
                text-align: center;
                color: #999;
                margin-top: 13px!important;
                margin-bottom: 9px!important;
        }
        .city {
            text-align: center;
        }
        .freelancer-skill {
            text-align: center;
            margin-top: 10px!important;
            margin-bottom: 0!important;
            .skill-item {
                border: 1px solid #0fe19b;
                box-sizing: border-box;
                border-radius: 3px;
                font-size: 13px;
                line-height: 24px;
                color: #0fe19b;
                padding: 2px 8px;
                margin-right: 5px;
            }
        }
        .contact-btn {
            text-align: center;
            padding-top: 15px;
            padding-bottom: 30px;
            .ant-btn {
                background: #2db964;
                color: #fff;
                text-shadow: none;
                font-size: 16px;
                border: none;
                padding: 11px 26px;
            }
        }
    }
    .layer-right {
        width: 60%;
        .portfolio-title {
            .title {
                margin-bottom: 0;
                font-size: 24px;
                margin-top: 4px;
                font-weight: 600;
                white-space: normal;
                overflow: hidden;
                width: 100%;
                display: inline-block;
            }
        }
        .portfolio-file {
            .ant-image {
                margin: 25px 0;
                text-align: center;
                width: 100%;
                .ant-image-img {
                    width: 100%;
                    height: 500px;
                }
            }
        }
        .portfolio-description {
            margin: 5px 0;
            margin: 5px 0;
        }
        .portfolio-url {
            text-decoration: none;
        }
        .portfolio-service {
            position: relative;
            margin: 5px 0 5px 0;
            padding-right: 6px;
            height: 20px;
            float: left;
            cursor: pointer;
            span {
                color: #0fe19b;
                font-size: 13px;
                font-weight: 400;
                text-decoration: none;
                border: 1px solid #0fe19b;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                padding: 1px 9px 3px;
                line-height: 20px;
                height: 19px;
            
            }
        }
    }
}