.detail-job-contest {
    .list-answer {
        .answer-item {
            .ant-image {
                width: 100% !important;
            }
        }
    }
}

.answer-modal {
    .ant-modal-body {
        .modal-detail-answer {
            display: flex;
            justify-content: space-between;
            .file-design {
                width: 50%;
                .ant-image {
                    width: 100%;
                }
            }
 
            .author {
                width: 40%;
                .label {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 1.2;
                }
                .user {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 1.2;
                    color: #08c;
                }
            }

            .btn-submit {
                padding-top: 20px;
                display: flex;
                justify-content: center;
                width: 100%;
                .ant-btn {
                    width: 100%;
                }
            }
        }
    }
}

.modal-confirm-request {
        .ant-modal-content {
        .ant-modal-footer {
            
            .btn-ok {
                background-color: #50c77b;
                color: white;
            }
            .btn-reject {
                background-color: red;
                    
                    color: white;
            }
        }
    }
    }