.detail-job-contest {
    .list-answer {
        .answer-item {
            .ant-image {
                width: 100% !important;
            }
        }
    }
}

.answer-modal {
    .ant-modal-body {
        .modal-detail-answer {
            display: flex;
            justify-content: space-between;
            .file-design {
                width: 50%;
                .ant-image {
                    width: 100%;
                }
            }
 
            .author {
                width: 40%;
                .label {
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 1.2;
                }
                .user {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 1.2;
                    color: #08c;
                }
            }

            .btn-submit {
                padding-top: 20px;
                display: flex;
                justify-content: center;
                width: 100%;
                .ant-btn {
                    width: 100%;
                }
            }
        }
    }
}

.modal-confirm-request {
        .ant-modal-content {
        .ant-modal-footer {
            
            .btn-ok {
                background-color: #50c77b;
                color: white;
            }
            .btn-reject {
                background-color: red;
                    
                    color: white;
            }
        }
    }
    }

.tag-job {
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    
    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 10px;
        .title {
            color: var(--neutra19);
        }
        .type {
            background-color: var(--colorType);
            color: white;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .location {
        display: flex;
        background-color: #f5f5f5;
        justify-content: space-between;
        padding: 10px;
        margin-top: 20px;
    }

    .list-type {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding-top: 30px;
        .ant-btn {
            padding: 5px;
            background-color: #f7f7f7;
            border-radius: 5px;
            color: #adadad;
            height: 25px;
            display: flex;
            align-items: center;
        }
        .ant-btn:first-child {
            background-color: #08c;
            color: white;
        }
            
        
    }
    
}