.login {   
    max-width: 400px;
    margin: 30px auto;
    max-height: 100%;
    .login-item {
        width: 100%;
        box-sizing: border-box;
        .ant-btn {
            justify-content: center;
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            align-content: center;
            .title {
                color: white;
            }
        }
        
        .icon {
            max-width: 30px;
        }
    }
    
    .ant-divider {
        .ant-divider-inner-text {
            color: #ccc;
        }
    }
    .ant-form-item {
        .ant-row {
            .ant-form-item-label {
                padding: 0;
                label {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 1.4;
                }
                
            }
            .ant-form-item-control {
                .ant-radio-group {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 70px;
                }
            }
        }
    }
    .btn-login {
        width: 100%;
    }
    
}

.form-forgot {
    padding: 50px;
    width: 460px;
    .title {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 400;
    }
}
.form-send-email {
    margin: 30px;
    .jumbotext {
        .lead {
            margin-bottom: 20px;
            text-align: center;
            font-size: 24px;
            font-weight: 600;
        }
        .info-send {
            font-size: 16px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 30px;
        }
    }
    .confirm-image {
        width: 620px;
        height: 510px;
       text-align: center;
        margin: 0 auto;
        .ant-image {
            width: 100%;
        }
    }
}
.form-reset {
    margin: 30px;
    width: 460px;
    .title-create {
       margin-bottom: 20px;
            
        font-size: 24px;
        font-weight: 600; 
    }
    .label-pass {
        margin-bottom: 10px;
    }
    
}